@font-face {
  font-family: IRANYekanXFaNum;
  font-weight: 100;
  src: url("/src/assets/fonts/iranyekan/IRANYekanThinFaNum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-weight: 200;
  src: url("/src/assets/fonts/iranyekan/IRANYekanLightFaNum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("/src/assets/fonts/iranyekan/IRANYekanRegularFaNum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-weight: 400;
  src: url("/src/assets/fonts/iranyekan/IRANYekanMediumFaNum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-weight: 500;
  src: url("/src/assets/fonts/iranyekan/IRANYekanBoldFaNum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-weight: 600;
  src: url("/src/assets/fonts/iranyekan/IRANYekanExtraBoldFaNum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-weight: 700;
  src: url("/src/assets/fonts/iranyekan/IRANYekanBlackFaNum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-weight: 800;
  src: url("/src/assets/fonts/iranyekan/IRANYekanExtraBlackFaNum.ttf") format("truetype");
}
