@font-face {
  font-family: Rubik;
  font-weight: 100;
  src: url("/fonts/Rubik/Rubik-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 200;
  src: url("/fonts/Rubik/Rubik-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 300;
  src: url("/fonts/Rubik/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 500;
  src: url("/src/assets/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 600;
  src: url("/src/assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 700;
  src: url("/src/assets/fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
}
