$light-color: #fff;
$dark-color: #000;
$bg-color: #e8e7df;
$gray-color: #707c93;
$primary-color: #df172f;
// ----------------------------------------------------------------------
$error-color: #f0134d;
$success-color: #16c47f;
$info-color: #79dae8;
$warning-color: #f59e0b;
